/* 
 * My97 DatePicker 4.8 
 * auther : zhangkun , hejianting(design)
 * email : zhangkun_net@hotmail.com
 * date : 2012-05-25
 */ 
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance:none;
outline:none;
border-radius: 0;
box-shadow:0
}
input,textarea{-webkit-appearance:none;}
.WdateDiv
{
	position:relative;
	padding:10px 10px 5px 10px;
	width:250px;
	font-size:12px;
	color:#333;
	border:2px solid #e9e9e9;
	background-color:#fff;
	font-family:Arial;
}

.WdateDiv2
{
	width:488px;
}

.WdateDiv .NavImg a,.WdateDiv .yminput,.WdateDiv .yminputfocus,.WdateDiv #dpQS 
{
	background:url(img.gif) no-repeat;
}

.WdateDiv .NavImg a
{
	float:left;
	width:16px;
	height:16px;
	cursor:pointer;
}
.WdateDiv .NavImgll a
{
	background-position:0px 5px; 
}
.WdateDiv .NavImgl a
{
	background-position:0px -10px;padding-right:20px;
}
.WdateDiv .NavImgr a
{
	background-position:0px -25px;margin-left:20px;
	float:right;
}
.WdateDiv .NavImgrr a
{
	background-position:0px -40px;
	float:right;
}

.WdateDiv #dpTitle
{
	padding:3px 5px 0px 5px;
	line-height:0px;
	height: 30px;
	*height:33px;
	text-align:center
}

.WdateDiv .yminput,.WdateDiv .yminputfocus
{
	margin-left:3px;margin-right:3px; padding:2px 5px;
	width:60px;
	height:20px;
	line-height:16px;
	border:solid 1px #fff;
	cursor:pointer;
	background-position:45px -68px;
	font-size:14px;
}

.WdateDiv .yminputfocus
{
	background-color:#fff;
	border:solid 1px #e9e9e9;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#A3C6C8 1px solid;
	display:none;
}

.WdateDiv .menu
{
	background:#fff;
}
.WdateDiv .menuOn
{
	color:#fff;
	background:#009bdb;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .MMenu,.WdateDiv .YMenu
{
	padding:2px;
	margin-top:20px;
	margin-left:-1px;
	width:68px;
	border:solid 1px #e9e9e9;
}
.WdateDiv .MMenu table,.WdateDiv .YMenu table
{
	width:100%;
}
.WdateDiv .MMenu table td,.WdateDiv .YMenu table td
{
	padding:0px;
	line-height:28px;
	text-align:center;
	font-size:12px;
	cursor: pointer;
}

.WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv td
{
	padding:1px;
	line-height:28px;
	font-size:13px;
	color:#999999;
	background:#fff;
	cursor:pointer;
}
.WdateDiv .MTitle td
{
	line-height:30px;
	color:#7D7D7D;
	background:#F2F0F1;
	cursor: default;
	font-weight:bold; padding:0 5px;
}

.WdateDiv .WdayTable2
{
	border-collapse:collapse;
	border:#fff 1px solid;
}
.WdateDiv .WdayTable2 table
{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:28px;	
	color:#13777e;
	background-color:#fff;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday
{
	color:#323232;
}

.WdateDiv .WdayOn
{
	color:#fff;
	background-color:#009bdb;	
}

.WdateDiv .Wwday
{
	color:#009bdb;
}

.WdateDiv .WwdayOn
{
	color:#fff;
	background-color:#009bdb;	
}
.WdateDiv .Wtoday
{
	color:#f40; font-weight:bold;
	background:#ffe5e5;
}
.WdateDiv .Wselday
{
	color:#fff;
	background-color:#009bdb;	
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay
{ 
	color:#D4D4D4;	
}
.WdateDiv .WotherDayOn
{
	color:#fff;
	background-color:#009bdb;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime
{
	position:relative;
	padding:5px 10px;background:#F2F0F1; margin:5px 0;
}

.WdateDiv #dpTime #dpTimeStr
{
	display:inline-block;
	width:28px;
	*width:30px;
	color:#7d7d7d;
}

.WdateDiv #dpTime input
{
	padding:0px;
	margin:0px;
	width:35px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#333;
	border:#e9e9e9 1px solid;
	font-size:14px;	
}

.WdateDiv #dpTime .tm
{
	width:10px;
	border:none;
	font-size:14px;	
	background:#F2F0F1;
}

.WdateDiv #dpTime #dpTimeUp
{
	display:none;
}

.WdateDiv #dpTime #dpTimeDown
{
	display:none;
}

.WdateDiv #dpQS 
 {
 	float:left;
	margin-right:3px;
	margin-top:11px;
	*margin-top:8px;
	width:16px;
	height:16px;
	cursor:pointer;
	background-position:0px -90px;
 }
.WdateDiv #dpControl 
{
	text-align:right;
	margin-top:3px;
	padding:4px 0;
}
.WdateDiv .dpButton
{ 
	margin-left:3px;
	line-height:22px;
	*line-height:20px;
	width:54px;
	background-color:#C3C3C3;
	*background-color:#009bdb;
	color:#fff;
	border:none;
	cursor: pointer;
}
.WdateDiv .dpButton:hover
{ 
	background-color:#009bdb;
}

.WdateDiv .hhMenu,
.WdateDiv .mmMenu,
.WdateDiv .ssMenu
{
	position:absolute;
	padding:5px;
	font-size:12px;
	color:#333;
	border:solid 1px #DEDEDE;
	background-color:#F2F0F1;
}

.WdateDiv #dpTime .menu,.WdateDiv #dpTime .menuOn
{
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	background:#fff;
}
.WdateDiv #dpTime .menuOn
{
	background:#009bdb;
}

.WdateDiv #dpTime td
{
	background:#F2F0F1;
}

.WdateDiv .hhMenu
{
	top:-87px;
	left:35px;
	left:32px\9;
}

.WdateDiv .mmMenu
{
	top:-47px;
	left:35px;
	left:32px\9;
}

.WdateDiv .ssMenu
{
	top:-27px;
	left:35px;
	left:32px\9;
}