<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>流程实例信息</title>
<script src="../assets/js/importJs.js"></script>

<script type="text/javascript">

importCss(["/weixin/assets/js/ztree/css/zTreeStyle/zTreeStyle.css",
           "/weixin/assets/js/ztree/css/outLook.css",
           "/weixin/assets/css/mobiscroll.custom-2.5.2.min.css",
           "/weixin/assets/css/form.css",
           "/weixin/assets/css/formValid.css"]);

importJs(["/weixin/assets/js/angular.min.js",
          "/weixin/assets/js/BaseService.js",
          "/weixin/assets/js/zh_CN.js",
          "/weixin/assets/js/CustomValid.js",
          "/weixin/assets/js/mobiscroll.custom-2.5.2.min.js",
          "/js/hotent/platform/form/rule.js",
          "/weixin/assets/js/jquery.qtip.js",
          "/weixin/assets/js/ztree/js/jquery.ztree.core-3.5.js",
          "/weixin/assets/js/ztree/ZtreeCreator.js",
          "/weixin/assets/js/dialog/Dialogs.js",
          "/weixin/assets/js/formDirective.js",
          "/weixin/assets/js/bpm/FlowService.js",
          "/weixin/assets/js/bpm/FormService.js",
          "/weixin/assets/js/bpm/processInfoController.js",
          "/weixin/assets/editor/ueditor.config.js",
          "/weixin/assets/editor/ueditor.all.min.js"]);

$(function() {
	var flowType = request.QueryString("subject");
	if(flowType){$("#lc-title").html(decodeURI(flowType));}
})
</script>
<style type="text/css">
.am-form-group span{
border:none;
}
</style>
<link rel="stylesheet" type="text/css" href="../../styles/suneee/phone.css" />
</head>
<body ng-controller="ctrl">
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
 <div class="burger-arr"  onclick="history.back();"><i></i><i></i><i></i></div>	
 <h1 class="am-header-title" id="lc-title"><span>流程实例信息 </span></h1>
</header>
<div id="formHtml" ht-bind-html="formHtml" style="width: 100%;height: 100%;overflow: auto;"></div>

<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default am-navbar-footer">
	<ul class="am-navbar-nav am-cf am-avg-sm-4">
		<li class="am-avg-sm-li-one">
		<!--<button type="button" class="am-btn am-btn-secondary am-radius"  ng-click="showOpinion()">审批历史</button>-->
<!-- 			<a href="#" class="" ng-click="showOpinion()"> 
				<i class="am-icon fa fa-save" ></i> 
			 	<span class="am-navbar-label">审批历史</span>
			</a> -->
		</li>
		<!--<li>
		<button type="button" class="am-btn am-btn-warning am-radius"  ng-click="showFlowPic()">流程图</button>
			 <a href="#" class=""  ng-click="showFlowPic()"> 
				<i class="am-icon fa fa-picture-o" ></i> 
			 	<span class="am-navbar-label">流程图</span>
			</a> 
		</li>-->
	</ul>
</div>
</body>
</html>