
.grouptitle {
	background:#eee !important;
}
h1{
	text-align: center;
}
.flowchart {
	display: inline-block;
	padding: 3px;
	width: 600px;
	height: 300px;
	border: 1px dashed #000;
	background: url(images/hotent/form/flowchart_logo.png) 5px 0px
		no-repeat;
}

.flowchart input {
	border: none;
	width: 1px;
	height: 1px;
}

.form-th {
	word-break: break-all;
	width: 200px;
	text-align: center;
}

.form-td {
	min-width: 210px;
}
 .am-table th{
 	white-space: nowrap;
	min-width: 100px;
}
.form-td>* {
	max-width: 250px;
}

.form-td>div[selector-type]:not (.so-long ) {
	width: 250px;
}

.sub-form-div {
	padding: 10px;
	position: relative;
}

.sub-group-form.field-home.has-error {
	border-color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.sub-group-form {
	border: 3px solid #eee;
	margin: 10px 20px;
}

.form-desc {
	word-break: break-all;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0;
}

.input-default {
	white-space: inherit;
	word-break: break-all;
	height: 100% !important;
}

.selector-button {
	width: 50px;
}

.selector-button:hover {
	cursor: pointer;
}

[selector-type].ht-input.so-long {
	width: 145px;
}

[selector-type].ht-input.so-long.so-too-long {
	width: 130px;
}

[selector-type].ht-input {
	min-height: 33px;
}

.file-button {
	cursor: pointer;
	padding: 4px 0;
	font-size: 12px;
	min-height: 24px;
}

.file-div {
	-webkit-appearance: textfield;
	padding: 0;
	min-height: 33px;
	height: 100%;
}

.file-span {
	margin-bottom: 5px;
	margin-right: 5px;
	text-overflow: ellipsis;
	max-width: 130px;
}
input.customdialog-input{
	display:inline-block;
	min-height:30px;
}