html,body,.page {
  height: 100%;
}

#wrapper {
  position: absolute;
  top: 60px;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0 0;
  background-color: #fff;
}

.am-list {
  margin: 0;
}

.am-list > li {
  background: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
}
.am-list .am-list-item-dated a{
	padding-right: 0px;
    display: block;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: inherit;
    overflow: hidden;
    color: #333;
    
}
.pull-action {
  text-align: center;
  height: 45px;
  line-height: 45px;
  color: #999;
}

.pull-action .am-icon-spin {
  display: none;
}

.pull-action.loading .am-icon-spin {
  display: block;
}

.pull-action.loading .pull-label {
  display: none;
}
