ul > li > ul, ul > li > ol, ol > li > ol, ol > li > ul,* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {margin: 0}
body{background: #fff;}
.calendar {
    width: 280px;
    height: 330px;
}
.calendar-modal {
    display: none;
    position: absolute;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 3px #ddd
}
.calendar-inner {
    position: relative;
    z-index: 1;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
.calendar-views {
    transform-style: preserve-3d;
}
.calendar .view {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    *overflow: hidden;
    -webkit-transition: .6s;
    transition: .6s;
    background: #f5f5f5;
    padding-bottom: 5px;
}
/* .calendar-d .view-month,
.calendar-m .view-date {
    transform: rotateY(180deg);
    visibility: visible;
    z-index: 1;
}
.calendar-d .view-date,
.calendar-m .view-month {
    transform: rotateY(0deg);
    visibility: visible;
    z-index: 2;
} */
.calendar-ct,
.calendar-hd,
.calendar-views .week,
.calendar-views .days {
    overflow: hidden;
}
.calendar-views {
    width: 100%;
}
.calendar .view,
.calendar-arrow .prev,
.calendar .date-items li {
    float: left;
}

.calendar-arrow-prev{
	float:left;
	margin-right:0px;
}

.calendar-display{
   	width:100%;
}
.calendar-arrow,
.calendar-arrow .next {
   float: right;
   margin-right:0px;
}
.calendar-hd {
    padding: 5px 0;line-height: 35px; text-align: center;
}

.calendar-top{
display: inline-block; margin: 0 auto;
}
.calendar-top .calendar-display {
    font-size: 20px;
    line-height: 35px;
    padding:0 10px;
    color: #333;
    font-size: 16px;
}
.view-month .calendar-hd {
    padding: 10px;
}
.calendar-arrow,
.calendar-arrow-prev {
    color: #ddd;
}
.calendar li[disabled] {
    color: #bbb;
}
.calendar li.old[disabled],
.calendar li.new[disabled] {
    color: #eee;
}
.calendar-display,
.calendar-views .week,
.calendar-views .days .old,
.calendar-views .days .new,
.calendar-display:hover,
.calendar-arrow span:hover 
.calendar-arrow-prev span:hover{
    color: #888;
}

.calendar-arrow span,
.calendar-arrow-prev span,
.calendar-views .days li[data-calendar-day],
.calendar-views .view-month li[data-calendar-month] {
    cursor: pointer;
} 
.calendar li[disabled] {
    cursor: not-allowed;
}

.calendar-arrow {
    /* width: 30px; */
    margin-left:0px;
}
.calendar-arrow-prev span,
.calendar-arrow span {
    font: 500 26px sans-serif;
}
.prev,.next{width:50px; float:left; text-indent:-999px;cursor: pointer;}
.prev{background: url(icon-left-g.png) no-repeat center; background-size: 13px auto; }
.next{background: url(icon-right-g.png) no-repeat center; background-size: 13px auto; }

.calendar ol li {
    position: relative;
    float: left;
    text-align: center;
    border-radius: 50%;
}
.calendar .week li,
.calendar .days li {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.calendar .month-items li {
    width: 70px;
    height: 70px;
    line-height: 70px;
}
/* .calendar .days li:hover  >i,
.calendar .view-month li:hover  >i{
    background: #eee; 
} */
 .calendar  li >i{
  position:relative;border:1px solid #f6f6f6;
  font-style: normal; width:32px; height:32px;line-height:30px; display: inline-block; border-radius: 50%;}
.calendar  .now >i ,.calendar  .activea >i{
    color: #fff;border:1px solid #00ace5;
    background: #00ace5;  
}
.calendar  .now.liold  >i{background: #f6f6f6;border:1px solid #00ace5;color: #333; }
.calendar  .selected >i{
    color: #00ace5;border:1px solid #ceeefe;
    background: #ceeefe; 
}
.calendar  .dot >i:before{
    position: absolute;
    content:'';
    left: 50%;
    top: 40px;
    margin-left: -2px; 
    width: 4px;
    height: 4px;
    background: #ff871d;
    border-radius: 50%;
}
.calendar-views .now .dot {
    background: #fff;
}

.calendar .date-items {
    width: 300%;
    margin-left: -100%;
}

.calendar-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 5px 10px;
    line-height: 22px;
    color: #fff;
    background: #000;
    border-radius: 3px;
    opacity: .7;
    filter: alpha(opacity=70);
}
.calendar-label i {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -12px;
    width: 0;
    height: 0;
    margin-left: -3px;
    border: 6px solid transparent;
    border-top-color: #000;
}

.point{
	position:absolute;
	bottom:1px;
	float:left;
	left:45%;
	width:6px;
	height:6px;
	border-radius: 3px;
	background-color:#aaa;
	visibility:hidden;
}


.info-div{
	border-top:1px solid #e5e5e5;
}
.info-div-list{line-height:20px;min-height:40px;
	background-color: #fff;
	padding:  10px;font-size: 14px; color: #333;
	border-bottom:1px solid #e5e5e5;
	padding-left:80px;
	}
.info-div-list-two{min-height:60px;}	
.info-time{
	margin-left:-80px;
	float:left;
	font-weight:400;
	display: inline-block;
	width: 80px;
	text-align: center;color: #666;
	
}


.wrapperbox{position: fixed;z-index: 1000;left: 0; top: 0;right:0;bottom:0;color: #555;width: 100%; height: 100%; display: none;background-color: #f5f5f5;}
.bigButtonBox{text-align: center;background: #f5f5f5;position: fixed; z-index: 10; bottom: 0; left: 0;right: 0;border-width: 1px 0  0   0; border-style: solid;border-color:#eaeaea; padding: 15px 0;}
.bigButton{background: #21abf4;line-height: 38px;height: 38px; width: 128px; border-radius: 3px; border:1px solid #21abf4; color: #fff;font-size: 14px; cursor: pointer;}
.bigButton:hover{background: #099cea;border:1px solid #099cea; color: #fff;}
.wrapperbox .bigButtonBox{ text-align: center;background: #fff;}
.bigButton.red{background:#e35c5b;border:1px solid #e35c5b; }
.bigButton.red:hover{background: #da4342;border:1px solid #da4342; color: #fff;}
.bigButton.gray{background:#999;border:1px solid #999; }
.bigButton.gray:hover{background: #999;border:1px solid #999; color: #fff;}
.btn-danger{background: #fff;border:1px solid #fff;line-height: 30px;height: 30px;width:80px;color: #099cea;font-size: 14px; cursor: pointer;}
.btn-danger:hover{color: #099cea;}
.btn-danger.gray{color: #999; display: none;}
[class*="am-u-"] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.contentDiv .am-form-group{ padding-right: 0.5rem;}
.contentDiv .am-form textarea{width: 100%;}
.am-form-icon [class*='am-icon-']{ left: inherit;right: 1em; color: #999}

.contentDiv .am-u-sm-3 {width:100px;    box-sizing: border-box; position: absolute; top:7px; left:0; text-align: right;}
.contentDiv .am-form-group{padding-left: 100px; position: relative;}
.contentDiv .am-u-sm-9{width:100%; }

.contentDiv div.am-radius{border-radius: 2px;display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    min-height:38px;
    -webkit-appearance: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
.contentDiv .am-radius,.contentDiv input.am-radius{font-size: 1.4rem;line-height: 1.6; border-color:#eaeaea;} 
.contentDiv .am-radius.c9{color: #999;}   
.contentDiv .am-radius.c5{color: #555555;}
.contentDiv .am-radius.error{border-color:#ff8040;}
.contentDiv{
	height:-wekit-calc(100% -70px);
	height:calc(100%);
	overflow:auto ;
	font-size: 1.4rem;
}
.contentDiv.content-div{background-color: #fff;}
.contentDiv.content-div .bigButtonBox{background-color: #fff;}
.am-with-fixed-navbar {
    padding-bottom: 70px;
}

.am-form-horizontal .am-checkbox-inline{ padding-left: 25px;}
.am-checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -22px;
    outline: none;
    margin-top: 5px;
}
.am-form-horizontal .am-checkbox-inline label{ font-weight:normal; }